<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Артём, и я автор данного ресурса</h1>
<p>
  Немного обо мне: 
</p>
<p>
  <img src="/static/img/islands-retina-middle.jpg" width="100" height="100" class="d-inline-block align-top" alt="">
</p>
<ul>
  <li>Женат</li>
  <li>Есть собака</li>
  <li>Есть кошка</li>
  <li>Есть кот</li>
</ul> 
<p>
  Думаю я добавлю больше информации, когда доделаю основные задания :)
</p>
{% endblock %} 